<html>
<head>
  <meta charset="UTF-8">
  <title>kure_workshop_0327</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>kure_workshop_0327</h1>

<h2>コメント投稿</h2>

<% if @comment.errors.present? %>
  エラーがあります。
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%=message%></li>
    <% end%>
  </ul>
<% end %>

<form action="/comments" method="post">
  <div>
    <input type="text" name="comment_title" value="<%= @comment.title %>" placeholder="コメントタイトル" />
  </div>
  <div>
    <textarea name="comment_body" id="" cols="30" rows="10" placeholder="コメント本文"><%= @comment.body %></textarea>
  </div>

  <input type="submit" value="投稿" />
</form>

<h2>コメント一覧</h2>

<div>
  <% @comments.each do |comment| %>
    <div class="comment-item">
      <h3><%= comment.title %></h3>
      <p><small><%= comment.created_at %></small></p>
      <div>
        <%= comment.body %>
      </div>
      <div style="margin: 10px 0 0">
        <a href="/comments/<%= comment.id %>/edit">編集</a>

        <form action="/comments/<%= comment.id %>/delete" method="post" style="display: inline;">
          <input type="submit" value="削除"/>
        </form>
      </div>
    </div>
  <% end %>
</div>


</body>
</html>