<html>
<head>
  <meta charset="UTF-8">
  <title>kure_workshop_0327</title>
</head>
<body>
<h1>kure_workshop_0327</h1>

<h2>コメント投稿</h2>

<form action="/comments" method="post">
  <div>
    <input type="text" name="comment_title" value="" placeholder="コメントタイトル" />
  </div>
  <div>
    <textarea name="comment_body" id="" cols="30" rows="10" placeholder="コメント本文">
    </textarea>
  </div>

  <input type="submit" value="投稿" />
</form>

<h2>コメント一覧</h2>

<div>
  <% @comments.each do |comment| %>
    <div style="border: 1px solid #666; padding: 0 20px 20px; margin: 0 0 20px">
      <h3><%= comment.title %></h3>
      <p><small><%= comment.created_at %></small></p>
      <div>
        <%= comment.body %>
      </div>
      <div style="margin: 10px 0 0">
        <a href="/comments/<%= comment.id %>/edit">編集</a>

        <form action="/comments/<%= comment.id %>/delete" method="post" style="display: inline;">
          <input type="submit" value="削除"/>
        </form>
      </div>
    </div>
  <% end %>
</div>


</body>
</html>